[Desktop Entry]
Encoding=UTF-8
Name=Quickshot
Name[ca]=Quickshot
Name[de]=Quickshot
Name[el]=Quickshot
Name[es]=Quickshot
Name[fr]=Quickshot
Name[hi]=Quickshot
Name[id]=Quickshot
Name[it]=Quickshot
Name[ja]=Quickshot
Name[nl]=Quickshot
Name[pl]=Quickshot
Name[pt_BR]=Quickshot
Name[ru]=Quickshot
Name[sv]=Quickshot
Comment=Capture desktop with single click
Comment[ca]=Capture desktop with single click
Comment[de]=Erfassen des Desktops mit einem einzigen Klick
Comment[el]=Καταγραφή της επιφάνειας εργασίας με ένα μόνο κλικ
Comment[es]=Capturar el escritorio con un solo clic
Comment[fr]=Capturer le bureau en un seul clic
Comment[hi]=Capture desktop with single click
Comment[id]=Capture desktop with single click
Comment[it]=Cattura il desktop con un solo clic
Comment[ja]=シングルクリックでデスクトップをキャプチャ
Comment[nl]=Desktop vastleggen met één klik
Comment[pl]=Przechwytywanie pulpitu za pomocą jednego kliknięcia
Comment[pt_BR]=Capturar o ambiente de trabalho com um único clique
Comment[ru]=Захват рабочего стола одним щелчком мыши
Comment[sv]=Fånga skrivbordet med ett enda klick
Exec=mxfb-quickshot
Terminal=false
Type=Application
Icon=/usr/share/icons/Papirus/48x48/devices/camera-photo.svg
Categories=System;
NoDisplay=false
