Source: 
Section: openbox
Priority: 
Maintainer: Jerry Bond (stormyjerry@gmail.com)
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3

Package: mx-ob
Architecture: arm64
Replaces: 
Depends: ${misc:Depends} obconf-qt, stalonetray, tdc, obmenu2, obkey, tint2 
Description: An unofficial respin of MX-Linux with Openbox as WM
